In [1]:
import pandas as pd

In [2]:
play=pd.read_csv('C:/Users/welcome/Desktop/playdata.csv')

In [6]:
play.head()

   DAY   OUTLOOK    TEMP HUMIDITY    WIND  PLAYBOLL
0    1     SUNNY     HOT     HIGH    WEAK         1
1    2     SUNNY     HOT     HIGH  STRONG         1
2    3  OVERCAST     HOT     HIGH    WEAK         2
3    4      RAIN     HOT     HIGH    WEAK         2
4    5      RAIN  NORMAL   NORMAL    WEAK         2

In [4]:
play.head

<bound method NDFrame.head of     DAY   OUTLOOK    TEMP HUMIDITY    WIND  PLAYBOLL
0     1     SUNNY     HOT     HIGH    WEAK         1
1     2     SUNNY     HOT     HIGH  STRONG         1
2     3  OVERCAST     HOT     HIGH    WEAK         2
3     4      RAIN     HOT     HIGH    WEAK         2
4     5      RAIN  NORMAL   NORMAL    WEAK         2
5     6      RAIN  NORMAL   NORMAL  STRONG         1
6     7  OVERCAST  NORMAL   NORMAL  STRONG         2
7     8     SUNNY    HIGH     HIGH    WEAK         1
8     9     SUNNY  NORMAL   NORMAL    WEAK         2
9    10      RAIN  NORMAL   NORMAL    WEAK         2
10   11     SUNNY  NORMAL   NORMAL  STRONG         2
11   12  OVERCAST    HIGH     HIGH  STRONG         2
12   13  OVERCAST  NORMAL   NORMAL    WEAK         2
13   14      RAIN    HIGH     HIGH  STRONG         1>

In [5]:
play.head(10)

   DAY   OUTLOOK    TEMP HUMIDITY    WIND  PLAYBOLL
0    1     SUNNY     HOT     HIGH    WEAK         1
1    2     SUNNY     HOT     HIGH  STRONG         1
2    3  OVERCAST     HOT     HIGH    WEAK         2
3    4      RAIN     HOT     HIGH    WEAK         2
4    5      RAIN  NORMAL   NORMAL    WEAK         2
5    6      RAIN  NORMAL   NORMAL  STRONG         1
6    7  OVERCAST  NORMAL   NORMAL  STRONG         2
7    8     SUNNY    HIGH     HIGH    WEAK         1
8    9     SUNNY  NORMAL   NORMAL    WEAK         2
9   10      RAIN  NORMAL   NORMAL    WEAK         2

In [6]:
play['TEMP']

0        HOT
1        HOT
2        HOT
3        HOT
4     NORMAL
5     NORMAL
6     NORMAL
7       HIGH
8     NORMAL
9     NORMAL
10    NORMAL
11      HIGH
12    NORMAL
13      HIGH
Name: TEMP, dtype: object

In [7]:
play.TEMP

0        HOT
1        HOT
2        HOT
3        HOT
4     NORMAL
5     NORMAL
6     NORMAL
7       HIGH
8     NORMAL
9     NORMAL
10    NORMAL
11      HIGH
12    NORMAL
13      HIGH
Name: TEMP, dtype: object

In [9]:
play.shape

(14, 6)

In [ ]:
play.shape

In [ ]:
type(play['TEMP'])

In [ ]:
play.TEMP+play.WIND

In [ ]:
play.TEMP+','+play.WIND

In [ ]:
play.TEMP+'  '+play.WIND

In [ ]:
play.head()

In [ ]:
play['ZONE'] = play.TEMP+','+play.WIND

In [ ]:
play['ZONE']

In [ ]:
play.head()

In [ ]:
play.describe()

In [ ]:
play.dtypes

In [ ]:
type(play)

In [10]:
play.describe(include=['object'])

       OUTLOOK    TEMP HUMIDITY  WIND
count       14      14       14    14
unique       3       3        2     2
top       RAIN  NORMAL     HIGH  WEAK
freq         5       7        7     8

In [ ]:
play.head()

In [ ]:
play.describe(include=['object'])

In [ ]:
play.head

In [ ]:
play.describe(include=['int64'])

In [ ]:
play.columns

In [ ]:
play.rename(columns={'TEMP':'TEMPERATURE'},inplace=True)

In [ ]:
play.head()

In [ ]:
play.drop(['ZONE'],axis=1,inplace=True)

In [ ]:
play.head()

In [ ]:
play.drop([0,1],axis=0,inplace=True)

In [ ]:
play.head()

play.shape

In [ ]:
play.drop('TEMPERATURE',axis=1).head()

In [ ]:
play.drop(2,axis=0).head()

In [ ]:
play.mean()

In [ ]:
play.mean(axis=1)

In [ ]:
play.mean(axis=0).shape

In [ ]:
play.mean(axis="index")

In [ ]:
play.mean(axis="columns")

In [ ]:
'hello'.upper()